.lobby-container {
    height: 100vh;
    width: 100vw;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(to bottom right, #4b0dbf, #350089);
    overflow-x: hidden; 
  }
  

  .pin-header {
    position: absolute;
    top: 0;
    background-color: white;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-align: center;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* .lobby-input {
    margin-top: 2rem;
  } */
  
  .player-list {
    margin-top: 3rem;
   
  }
  
  .title-bar {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  
  .logo {
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin: 0;
  }
  
  .button-s {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white !important;
    color: black !important;
    font-weight: bold;
    font-size: 16px;
    padding: 30px 34px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
    cursor: pointer !important; 
  }
  
  .waiting-message {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-top: 2rem;
  }
  
  
  