.kahoot-layout {
  height: 100vh;
  background: linear-gradient(to bottom right, #4b0dbf, #350089);
  color: white;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  position: relative;
}

.EnterRoom-container {
  height: 100vh;
  width: 100vw;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(to bottom right, #4b0dbf, #350089);
  overflow-x: hidden;
  position: relative;
}


.switch-theme {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.kahoot-box {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
  height: 200px;
}

.logo {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.pin-input {
  margin-top: 30px;
  margin-bottom: 16px;
}

